@inject HttpClient Http

    @{int c = -1;}
    <ul id="myUL">
    @foreach (string class_ in classes)
    {
        int n2 = ++c;
        <li><span class="caret @(foldables[c] ? "caret-down" : "") spacing" @onclick="()=>click(n2)">@class_</span>
            <div style="padding-left: 3em;" class="@(foldables[c] ? "active" : "folded")">
                @if (foldables[c])
                {
                    <ShowInfo ClassName=@class_ />
                }
            </div>
        </li>
    }
    </ul>

@code {

    private List<string> classes = new List<string>{};
    private List<bool> foldables = new List<bool> { };

    [CascadingParameter(Name = "Backend")]
    protected string backend {get; init; } = "http://localhost:5310/";

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender){
            await LoadData();
        }
    }

    private async Task LoadData()
    {
        Dictionary<string, string> req = new Dictionary<string, string> { {"action", "read"}, {"target","classes"} };
        var response = await Http.PostAsJsonAsync<Dictionary<string, string>>(backend, req);
        List<string>? data1 = new List<string> { };
        data1 = await response.Content.ReadFromJsonAsync<List<string>>();
        int c = 0;
        if (data1 != null) { classes = data1;
            c = data1.Count; }
        foldables = new List<bool>(new bool[c]);
        StateHasChanged();
    }

    private void click(int i)
    {
        foldables[i] = !foldables[i];
    }
}
