@inject _20strike_ui.Data.DataFetcher DataFetcher

    @{int c = -1;}
    <ul id="myUL">
    @foreach (string class_ in classes)
    {
        int n2 = ++c;
        <li><span class="caret @(foldables[c] ? "caret-down" : "") spacing" @onclick="()=>click(n2)">@class_</span>
            <div style="padding-left: 3em;" class="@(foldables[c] ? "active" : "folded")">
                @if (foldables[c])
                {
                    <ShowInfo ClassName=@class_ />
                }
            </div>
        </li>
    }
    </ul>

@code {

    private List<string> classes = new List<string> { };
    private List<bool> foldables = new List<bool> { };

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender){
            await LoadData();
        }
    }

    private async Task LoadData()
    {
        classes = await DataFetcher.GetClasses();
        int c = classes.Count;
        foldables = new List<bool>(new bool[c]);
        StateHasChanged();
    }

    private void click(int i)
    {
        foldables[i] = !foldables[i];
    }
}
