@page "/info"

@inject HttpClient Http

<PageTitle>information</PageTitle>

<input @bind="computername" @bind:event="oninput" placeholder="Enter name for search"/>
@if (computers.Count != 0)
{
    <ul id="myUL">
        @foreach (string computer in computers)
        {
            @if (computername != "" && !computer.ToUpper().Contains(computername.ToUpper())) continue;
            <CascadingValue Name="ComputerName" Value="@computer">
            <li>
                <ComputerRecord tag=1 /> @* It's just to trigger OnParametersSet to force rerender, but doesn't really work*@
            </li>
            </CascadingValue>
        }
    </ul>
} else {
    <div>LOADING LIST</div>
}

<button @onclick="Update">@updateButtonText</button>

@code {
    [Parameter]
    public string computername { get; set; } = "";

    [CascadingParameter(Name = "Backend")]
    protected string backend {get; init; } = "http://localhost:5310/";

    private string updateButtonText = "Update all";

    private List<string> computers = new List<string>{};

    async private void Update()
    {
        var response = await Http.PostAsJsonAsync<Dictionary<string, string>>(backend, new Dictionary<string,
        string> { { "action", "update" }, { "target", "all" } }); // We need to provide "target" key now
        var text = await response.Content.ReadAsStringAsync();
        if (!string.IsNullOrEmpty(text)) updateButtonText = text;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            Dictionary<string, string> req = new Dictionary<string, string> { {"action", "read"}, {"target","computers"} };
            var response = await Http.PostAsJsonAsync<Dictionary<string, string>>(backend, req);
            List<string>? data1 = new List<string> { };
            data1 = await response.Content.ReadFromJsonAsync<List<string>>();

            if (data1 != null) computers = data1;

            StateHasChanged();
        }
    }
}

<style>
    ul,
    #myUL {
        list-style-type: none;
    }

    #myUL {
        margin: 0;
        padding: 0;
    }

    .spacing {
        margin-left: 1em;
    }
    .caret {
        cursor: pointer;
        user-select: none;
    }

    .caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
        transform: rotate(90deg);
    }

    .folded {
        display: none;
    }

    .active {
        display: block;
    }
</style>
