@page "/invoke"
@inject _20strike_ui.Data.DataFetcher DataFetcher

<AuthorizeView Context="Account">
    <NotAuthorized>
        ACCESS DENIED
    </NotAuthorized>
    <Authorized>
        Введите команду вручную: <br> Reboot или Shutdown<br>
        <form @onsubmit="Invoke">
            <div class="input-group m-1">
                <button type="submit" class="btn btn-danger">Run</button><br>
                <input type="text" class="form-control" style="max-width: 400px;" @bind="action" placeholder="Action">
            </div>
        </form>
        Last result: @result
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter(Name = "Backend")]
    protected string backend {get; init; } = "http://localhost:5310/";
    [CascadingParameter(Name = "ComputerName")]
    public string ComputerName { get; init; } = "";

    private string result = "none";
    private string action = "";

    private async void Invoke()
    {
        var method = action switch
        {
            "Shutdown" => "Shutdown",
            "Reboot" => "Reboot",
            _ => ""
        };
        result = await DataFetcher.RequestInvoke(ComputerName, "Win32_OperatingSystem", method, "");
        StateHasChanged();
    }
}
