@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components
@inject IWebHostEnvironment HostEnvironment

<PageTitle>20strike-ui</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4" style="width:100%; height:calc(100% - 3.5rem); position:relative;display:flexbox">
            @Body
        </article>
    </main>
</div>

@code {
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
