@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components
@inject IWebHostEnvironment HostEnvironment

<PageTitle>20strike-ui</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4" style="width:100%; height:calc(100% - 3.5rem); position:relative;display:flexbox">
            <CascadingValue Name="Backend" Value=@backend>
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private string backend = "http://srv-backup:5310/";

    protected override Task OnInitializedAsync()
    {
        @* if (HostEnvironment.IsDevelopment()) backend = "http://localhost:5310/"; *@
        return base.OnInitializedAsync();
    }
}
